<h3>Edit a Theatre</h3>

<%= simple_form_for @film do |f| %>
  <%= f.input :f_title, label: 'Title'%>
  <%= f.input :f_body, label: 'Summary' %>
  <%= f.button :submit,class:"btn btn-outline-primary my-2 my-sm-1" %>
<% end %>

